h1 {
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

#list {
    display: flex;
    cursor: pointer;
}

#list div {
    padding: 10px;
    border: 1px solid #000;
    margin: 5px;
}